<p class="section__text__p1">Get To know my </p>
    <h1 class="title">Experience</h1>
<section id="timeline">
    
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Graph Transformer</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">GTN</h1>
        <p>Merges graph processing and neural networks . Unlike traditional CNNs, which struggle to capture complex spatial relationships ,
             this approach models images as graphs. Each pixel or region is treated as a node, and their relationships form edges.
              The self-attention mechanism in the transformer allows for better understanding of both local and global dependencies
               within these graphs, outperforming CNNs , 
               . This fusion leads to more precise classification and richer feature extraction .
            </p>
      </div>
      <div class="tl-hover-img" style="background-image: url('assets/F1.large - Copy.jpg')"></div>
    </div>
   
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://placeimg.com/802/802/nature)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Animal Pose </p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Yolo</h1>
        <p>The project aims to develop and implement a computer vision model based on YOLOv8 for horse pose estimation. The goal is to track animal behavior, enhance training in equestrian sports, and monitor the health and well-being of horses.

            Fine-tuning YOLOv8 involves adapting the pre-trained model to this specific task.</p>
      </div>
      <div class="tl-hover-img" style="background-image: url('assets/Single-View-Multiple-View - Copy.png')"></div>
   
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://placeimg.com/803/803/nature)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Car Counter</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Yolo</h1>
        <p>a computer vision system capable of detecting and counting cars and people in real-time from video streams. This system can be applied in various environments, such as urban surveillance, traffic management, or public event security.</p>
      </div>
      <div class="tl-hover-img" style="background-image: url('assets/1_FopUUkkG8lPYk5HSlVTQuA - Copy.png')"></div>
    
    </div>
  
    <div class="tl-item">
      
      <div class="tl-bg" style="background-image: url(https://placeimg.com/800/800/nature)"></div>
      
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Cv Parser</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Spacy</h1>
        <p>a model capable of accurately and efficiently extracting relevant information from diverse CVs using advanced NLP techniques, such as pre-trained language modeling and named entity recognition. The project includes fine-tuning spaCy transformers specifically for Tunisian CVs to enhance accuracy in this context.</p>
      </div>
      <div class="tl-hover-img" style="background-image: url('assets/1_MhF2afIfVe_ZATjTm4hhVA - Copy.png')"></div>
    </div>
    
  </section>
  