<section id="contact">
    
    <h1 class="title">Contact Me</h1>
    <div class="contact-info-upper-container">
      <div class="contact-info-container">
        <img
          src="./assets/email.png"
          alt="Email icon"
          class="icon contact-icon email-icon"
        />
        <p><a href="mailto:ahmed.oueslati@insat.ucar.tn">ahmed.oueslati@insat.ucar.tn</a></p>
      </div>
      <div class="contact-info-container">
        <img
          src="./assets/linkedin.png"
          alt="LinkedIn icon"
          class="icon contact-icon"
        />
        <p><a href="https://www.linkedin.com/in/ahmed-oueslati-668501252/">LinkedIn</a></p>
      </div>
      <div class="contact-info-container">
        <img
          src="./assets/fb-removebg-preview.png"
          alt="facebook icon"
          class="icon contact-icon"
        />
        <p><a href="https://www.facebook.com/ahmed.oueslati.94">facebook</a></p>
      </div>
      <div class="contact-info-container">
        <img
          src="./assets/github.png"
          alt="Email icon"
          class="icon contact-icon email-icon"
        />
        <p><a href="https://github.com/AhmedOueslatii">github</a></p>
      </div>
    </div>
    <footer>
        <p>@Ahmed Oueslati. All Rights Reserved 2024.</p>
      </footer>
  </section>
 
  <script src="script.js"></script>